<template>
  <div class="Sort3">
    
    <div class="input form-inline ml-5 pl-5">
      <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">性別</span>
        </div>
        <select class="form-control" @change="setGender">
          <option value="">---</option>
          <option value="f">おんなのこ</option>
          <option value="m">おとこのこ</option>
        </select>
      </div>
      <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">素材</span>
        </div>
        <select class="form-control" @change="setMaterial">
          <option value="">---</option>
          <option value="wood">キーのもと</option>
          <option value="steel">カチカチのもと</option>
          <option value="cotton">ふわふわのもと</option>
          <option value="food">もぐもぐのもと</option>
          <option value="paper">ペラペラのもと</option>
        </select>
      </div>
      <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">テーマ</span>
        </div>
        <select class="form-control" @change="setTheme">
          <option value="">---</option>
          <option v-for="item in listTheme" :key="item.order" :label="item.label" :value="item.name">{{item.label}}</option>
        </select>
      </div>
      <div class="input-group input-group-sm mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text">種族</span>
        </div>
        <select class="form-control" @change="setRace">
          <option value="">---</option>
          <option v-for="item in listRace" :key="item.order" :label="item.label" :value="item.name">{{item.label}}</option>
        </select>
      </div>
    </div>
    
    <div class="output">
      <div class="number" @click="setAll">{{sorted.length}}<i>/{{list.length}}</i></div>
      <ul class="list">
        <li v-for="item in sorted" :key="item.id" :class="item.theme"><span @click="selected(item)">{{item.name}}</span></li>
      </ul>
      <div class="detail" v-if="current.id != undefined">
        <dl :class="current.theme">
          <dt>{{current.name}} <span>({{current.en}})</span></dt>
          <dd><span>gender</span><font-awesome-icon :icon="currentGender"></font-awesome-icon></dd>
          <dd><span>race</span>{{current.race}}</dd>
          <dd><span>theme</span>{{currentTheme}}</dd>
          <dd><span>reward</span>{{currentMaterial}}</dd>
        </dl>
      </div>
    </div>
    
    <div id="tweet">
      <Timeline :id="'pokemori_jp'" :sourceType="'profile'" :options="{ height: '240', chrome: 'nofooter' }"></Timeline>
    </div>
    
    <footer><router-link to="/kaeru">旅かえる</router-link></footer>
    
  </div>
</template>

<script>
import axios from 'axios';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import { faMars, faVenus } from '@fortawesome/fontawesome-free-solid';
import { Timeline } from 'vue-tweet-embed';

const jsonList = 'static/json/pokemori/list.json';
const jsonTheme = 'static/json/pokemori/theme.json';
const jsonRace = 'static/json/pokemori/race.json';

let themeIndex = [];

export default {
  name: 'Sort3',
  
  components: {
    FontAwesomeIcon,
    Timeline
  },
  
  data () {
    return {
      list: [],
      listTheme: [],
      listRace: [],
      theme: '',
      material: '',
      gender: '',
      race: '',
      current: {},
      showAll: false
    }
  },
  
  computed: {
    sorted: function() {
      let tmp = this.list;
      this.current = {};
      
      if (this.material.length > 0) {
        tmp = tmp.filter((item) => {
          if (item.material == this.material) {
            return item;
          }
        });
      }
      if (this.theme.length > 0) {
        tmp = tmp.filter((item) => {
          if (item.theme == this.theme) {
            return item;
          }
        });
      }
      if (this.gender.length > 0) {
        tmp = tmp.filter((item) => {
          if (item.gender == this.gender) {
            return item;
          }
        });
      }
      if (this.race.length > 0) {
        tmp = tmp.filter((item) => {
          if (item.race == this.race) {
            return item;
          }
        });
      }
      
      //ソートされてない、かつ、全表示フラグがなければ非表示
      if (tmp.length === this.list.length && !this.showAll) {
        tmp = [];
      }
      
      //ソートされてたらテーマ順に並び替える
      if (tmp.length > 0) {
        tmp.sort(function(a, b) {
          return themeIndex.get(a.theme) - themeIndex.get(b.theme);
        });
      }
      
      return tmp;
    },
    
    currentMaterial: function() {
      let str = '';
      switch (this.current.material) {
        case "wood": str = "キーのもと"; break;
        case "steel": str = "カチカチのもと"; break;
        case "cotton": str = "ふわふわのもと"; break;
        case "food": str = "もぐもぐのもと"; break;
        case "paper": str = "ペラペラのもと"; break;
      }
      return str;
    },
    
    currentGender: function() {
      let str = '';
      switch (this.current.gender) {
        case 'm': str = faMars; break;
        case 'f': str = faVenus; break;
      }
      return str;
    },
    
    currentTheme: function() {
      for (let i of Object.keys(this.listTheme)) {
        if (this.current.theme === this.listTheme[i].name) {
          return this.listTheme[i].label;
        }
      }
    },
    
    currentRace: function() {
    	for (let i of Object.keys(this.listRace)) {
    		if (this.current.race === this.listRace[i].name) {
    			return this.listRace[i].label;
    		}
    	}
    }
    
  },
  
  async created () {
    try {
      // json取得
      let resList = await axios.get(jsonList);
      this.list = resList.data;
      let resTheme = await axios.get(jsonTheme);
      this.listTheme = resTheme.data;
      let resRace = await axios.get(jsonRace);
      this.listRace = resRace.data;
      
      // テーマインデックス作成（Map処理用）
      let themeData = [];
      for (let i of Object.keys(this.listTheme)) {
        themeData.push([this.listTheme[i].name, this.listTheme[i].order]);
      }
      themeIndex = new Map(themeData);
    } catch(e) {
      console.error(e);
    }
  },
  
  methods: {
    setAll: function() {
      this.showAll = !this.showAll;
    },
    setTheme: function(e) {
      if (this.theme != e.target.value) {
        this.theme = e.target.value;
      } else {
        this.theme = '';
      }
    },
    setMaterial: function(e) {
      if (this.material != e.target.value) {
        this.material = e.target.value;
      } else {
        this.material = '';
      }
    },
    setGender: function(e) {
      if (this.gender != e.target.value) {
        this.gender = e.target.value;
      } else {
        this.gender = '';
      }
    },
    setRace: function(e) {
    	if (this.race != e.target.value) {
    		this.race = e.target.value;
    	} else {
    		this.race = '';
    	}
    },
    selected: function(item) {
      this.current = item;
    }
    
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../assets/scss/placeholder.scss';

$color_cute: #de597c;
$color_natural: #c99b34;
$color_sporty: #317152;
$color_cool: #2d85d7;
$color_rustic: #728928;
$color_hip: #e16e1e;
$color_harmonious: #b92a1a;
$color_elegant: #6b24b3;
$color_modern: #01b595;
$color_historical: #83173e;
$color_civic: #004198;

%colors_background {
  &.cute {background-color: $color_cute;}
  &.natural {background-color: $color_natural;}
  &.sporty {background-color: $color_sporty;}
  &.cool {background-color: $color_cool;}
  &.rustic {background-color: $color_rustic;}
  &.hip {background-color: $color_hip;}
  &.harmonious {background-color: $color_harmonious;}
  &.elegant {background-color: $color_elegant;}
  &.modern {background-color: $color_modern;}
  &.historical {background-color: $color_historical;}
  &.civic {background-color: $color_civic;}
}
%colors_border {
  &.cute {border-color: $color_cute;}
  &.natural {border-color: $color_natural;}
  &.sporty {border-color: $color_sporty;}
  &.cool {border-color: $color_cool;}
  &.rustic {border-color: $color_rustic;}
  &.hip {border-color: $color_hip;}
  &.harmonious {border-color: $color_harmonious;}
  &.elegant {border-color: $color_elegant;}
  &.modern {border-color: $color_modern;}
  &.historical {border-color: $color_historical;}
  &.civic {border-color: $color_civic;}
}

.Sort3 {
  position: relative;
}
.input {
  padding: 20px 20px 10px;
  text-align: right;
  
  & > p {
    display: inline-block;
    margin-bottom: 4px;
  }
  select {
  	-webkit-appearance: none;
  	font-size: initial;
  }
}
.output {
  padding: 0 20px;
  text-align: right;
}
.number {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans serif;
  color: #ccc;
  
  & > i {
    margin-left: 2px;
    font-size: 10px;
    font-style: normal;
  }
}
.list {
  margin: 0;
  padding: 0;
  
  & > li {
    display: inline-block;
    margin-left: 20px;
    background: #eee;
    font-size: 12px;
    
    @extend %colors_background;
    
    & > span {
      display: inline-block;
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,.7) 50%,rgba(255,255,255,.7) 100%);
    }
  }
}
.detail {
  margin-top: 30px;
  font-size: 12px;
  text-align: left;
  
  dl {
    padding-left: 8px;
    border-left: 6px solid #eee;
    
    @extend %colors_border;
  }
  dt {
    margin-bottom: 10px;
    font-weight: bold;
    
    span {
      margin-left: 5px;
      font-size: smaller;
      font-weight: normal;
    }
  }
  dd {
    margin: 0;
    padding: 0;
    
    span {
      display: inline-block;
      width: 50px;
      font-size: smaller;
    }
    
  }
}
#tweet {
  margin: 30px 0 0;
  border-top: 1px solid rgba(15,70,100,.12);
  
  & > a {
    color: #ccc;
    font-size: 10px;
    line-height: 1.8;
  }
}

footer {
  padding: 20px;
  font-size: 14px;
  text-align: right;
}

</style>
