<template>
  <div class="Sort2">
    
    <div class="input">
      <p class="gender">
        <toggle-button :current="gender" @child-event="setGender" label="おんな" value="f"></toggle-button>
        <toggle-button :current="gender" @child-event="setGender" label="おとこ" value="m"></toggle-button>
      </p>
      <p class="material">
        <toggle-button :current="material" @child-event="setMaterial" label="キー" value="wood"></toggle-button>
        <toggle-button :current="material" @child-event="setMaterial" label="カチ" value="steel"></toggle-button>
        <toggle-button :current="material" @child-event="setMaterial" label="ふわ" value="cotton"></toggle-button>
        <toggle-button :current="material" @child-event="setMaterial" label="もぐ" value="food"></toggle-button>
        <toggle-button :current="material" @child-event="setMaterial" label="ペラ" value="paper"></toggle-button>
      </p>
      <p class="theme">
        <toggle-button v-for="item in listTheme" :key="item.order" :current="theme" @child-event="setTheme" :label="item.label" :value="item.name"></toggle-button>
      </p>
    </div>
    
    <div class="output">
      <div class="number" @click="setAll">{{sorted.length}}<i>/{{list.length}}</i></div>
      <ul class="list">
        <li v-for="item in sorted" :key="item.id" :class="item.theme"><span @click="selected(item)">{{item.name}}</span></li>
      </ul>
      <div class="detail" v-if="current.id != undefined">
        <dl :class="current.theme">
          <dt>{{current.name}} <span>({{current.en}})</span></dt>
          <dd><span>gender</span><font-awesome-icon :icon="currentGender"></font-awesome-icon></dd>
          <dd><span>race</span>{{current.race}}</dd>
          <dd><span>theme</span>{{currentTheme}}</dd>
          <dd><span>reward</span>{{currentMaterial}}</dd>
        </dl>
      </div>
    </div>
    
    <div id="tweet">
      <Timeline :id="'pokemori_jp'" :sourceType="'profile'" :options="{ height: '240', chrome: 'nofooter' }"></Timeline>
    </div>
    
    <footer><router-link to="/kaeru">旅かえる</router-link></footer>
    
  </div>
</template>

<script>
import axios from 'axios';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
import { faMars, faVenus } from '@fortawesome/fontawesome-free-solid';
import { Timeline } from 'vue-tweet-embed';
import toggleButton from './parts/button';

const json = 'static/json/pokemori.json';
const jsonTheme = 'static/json/theme.json';

let themeIndex = [];

export default {
  name: 'Sort2',
  
  components: {
    FontAwesomeIcon,
    Timeline,
    toggleButton
  },
  
  data () {
    return {
      list: [],
      listTheme: [],
      theme: '',
      material: '',
      gender: '',
      current: {},
      showAll: false
    }
  },
  
  computed: {
    sorted: function() {
      let tmp = this.list;
      this.current = {};
      
      if (this.material.length > 0) {
        tmp = tmp.filter((item) => {
          if (item.material == this.material) {
            return item;
          }
        });
      }
      if (this.theme.length > 0) {
        tmp = tmp.filter((item) => {
          if (item.theme == this.theme) {
            return item;
          }
        });
      }
      if (this.gender.length > 0) {
        tmp = tmp.filter((item) => {
          if (item.gender == this.gender) {
            return item;
          }
        });
      }
      
      //ソートされてない、かつ、全表示フラグがなければ非表示
      if (tmp.length === this.list.length && !this.showAll) {
        tmp = [];
      }
      
      //ソートされてたらテーマ順に並び替える
      if (tmp.length > 0) {
        tmp.sort(function(a, b) {
          return themeIndex.get(a.theme) - themeIndex.get(b.theme);
        });
      }
      
      return tmp;
    },
    
    currentMaterial: function() {
      let str = '';
      switch (this.current.material) {
        case "wood": str = "キーのもと"; break;
        case "steel": str = "カチカチのもと"; break;
        case "cotton": str = "ふわふわのもと"; break;
        case "food": str = "もぐもぐのもと"; break;
        case "paper": str = "ペラペラのもと"; break;
      }
      return str;
    },
    
    currentGender: function() {
      let str = '';
      switch (this.current.gender) {
        case 'm': str = faMars; break;
        case 'f': str = faVenus; break;
      }
      return str;
    },
    
    currentTheme: function() {
      for (let i of Object.keys(this.listTheme)) {
        if (this.current.theme === this.listTheme[i].name) {
          return this.listTheme[i].label;
        }
      }
    }
    
  },
  
  async created () {
    try {
      // json取得
      let res = await axios.get(json);
      let resTheme = await axios.get(jsonTheme);
      this.list = res.data;
      this.listTheme = resTheme.data;
      
      // テーマインデックス作成（Map処理用）
      let themeData = [];
      for (let i of Object.keys(this.listTheme)) {
        themeData.push([this.listTheme[i].name, this.listTheme[i].order]);
      }
      themeIndex = new Map(themeData);
    } catch(e) {
      console.error(e);
    }
  },
  
  methods: {
    setAll: function() {
      this.showAll = !this.showAll;
    },
    setTheme: function(val) {
      if (this.theme != val) {
        this.theme = val;
      } else {
        this.theme = '';
      }
    },
    setMaterial: function(val) {
      if (this.material != val) {
        this.material = val;
      } else {
        this.material = '';
      }
    },
    setGender: function(val) {
      if (this.gender != val) {
        this.gender = val;
      } else {
        this.gender = '';
      }
    },
    selected: function(item) {
      this.current = item;
    }
    
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../assets/scss/placeholder.scss';

$color_cute: #de597c;
$color_natural: #c99b34;
$color_sporty: #317152;
$color_cool: #2d6ab9;
$color_rustic: #728928;
$color_hip: #e16e1e;
$color_harmonious: #b92a1a;
$color_elegant: #6b24b3;
$color_modern: #01b595;

.Sort2 {
  position: relative;
}
.input {
  padding: 20px 20px 10px;
  text-align: right;
  
  & > p {
    margin: 0 0 10px;
  }
}
.output {
  padding: 0 20px;
  text-align: right;
}
.number {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans serif;
  color: #ccc;
  
  & > i {
    margin-left: 5px;
    font-size: 12px;
    font-style: normal;
  }
}
.list {
  margin: 0;
  padding: 0;
  
  & > li {
    display: inline-block;
    margin-left: 20px;
    background: #eee;
    font-size: 12px;
    
    &.cute {background-color: $color_cute;}
    &.natural {background-color: $color_natural;}
    &.sporty {background-color: $color_sporty;}
    &.cool {background-color: $color_cool;}
    &.rustic {background-color: $color_rustic;}
    &.hip {background-color: $color_hip;}
    &.harmonious {background-color: $color_harmonious;}
    &.elegant {background-color: $color_elegant;}
    &.modern {background-color: $color_modern;}
    
    & > span {
      display: inline-block;
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(255,255,255,.7) 50%,rgba(255,255,255,.7) 100%);
    }
  }
}
.detail {
  margin-top: 30px;
  font-size: 12px;
  text-align: left;
  
  dl {
    padding-left: 8px;
    border-left: 6px solid #eee;
    
    &.cute {border-color: $color_cute;}
    &.natural {border-color: $color_natural;}
    &.sporty {border-color: $color_sporty;}
    &.cool {border-color: $color_cool;}
    &.rustic {border-color: $color_rustic;}
    &.hip {border-color: $color_hip;}
    &.harmonious {border-color: $color_harmonious;}
    &.elegant {border-color: $color_elegant;}
    &.modern {border-color: $color_modern;}
  }
  dt {
    margin-bottom: 10px;
    font-weight: bold;
    
    span {
      margin-left: 5px;
      font-size: smaller;
      font-weight: normal;
    }
  }
  dd {
    margin: 0;
    padding: 0;
    
    span {
      display: inline-block;
      width: 50px;
      font-size: smaller;
    }
    
  }
}
#tweet {
  margin: 30px 0 0;
  border-top: 1px solid rgba(15,70,100,.12);
  
  & > a {
    color: #ccc;
    font-size: 10px;
    line-height: 1.8;
  }
}

footer {
  padding: 20px;
  font-size: 14px;
  text-align: right;
}

</style>
