<template>
  <div class="Sort">
    
    <div class="ctrl">
      <p class="theme" :class="theme">
        <button class="btn cute" @click="sortTheme('cute')">ファンシー</button>
        <button class="btn natural" @click="sortTheme('natural')">ナチュラル</button>
        <button class="btn sporty" @click="sortTheme('sporty')">スポーティー</button>
        <button class="btn cool" @click="sortTheme('cool')">クール</button>
        <button class="btn rustic" @click="sortTheme('rustic')">カントリー</button>
      </p>
      <p class="material" :class="[status, material]">
        <a class="btn wood" @click="sortMaterial('wood')">キー</a>
        <a class="btn steel" @click="sortMaterial('steel')">カチカチ</a>
        <a class="btn cotton" @click="sortMaterial('cotton')">ふわふわ</a>
        <a class="btn food" @click="sortMaterial('food')">もぐもぐ</a>
        <a class="btn paper" @click="sortMaterial('paper')">ペラペラ</a>
      </p>
    </div>
    
    <div class="list">
      <ul :class="status">
        <li v-for="item in generatedList" :class="theme" @click="info(item.id)">
          <span :class="{'current': item.id == current}">{{ item.name }}</span>
        </li>
      </ul>
    </div>
    
    <div class="info" v-if="detail.id != undefined">
      <div class="detail" :class="detail.theme">
        <figure><img :src="'static/img/' + detail.id + '.png'"></figure>
        <span>{{ detail.name }} <i>｜ {{ detail.en }}</i></span>
        <small :class="detail.gender"><font-awesome-icon :icon="iconMars" /><font-awesome-icon :icon="iconVenus" /></small>
        <small v-if="detail.material==='wood'">キーのもと</small>
        <small v-else-if="detail.material==='steel'">カチカチのもと</small>
        <small v-else-if="detail.material==='cotton'">ふわふわのもと</small>
        <small v-else-if="detail.material==='food'">もぐもぐのもと</small>
        <small v-else-if="detail.material==='paper'">ペラペラのもと</small>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios';
import FontAwesomeIcon from '@fortawesome/vue-fontawesome';
//import { faMars, faVenus } from '@fortawesome/fontawesome-pro-regular';
import { faMars, faVenus } from '@fortawesome/fontawesome-free-solid';

export default {
  name: 'Sort',
  
  data () {
    return {
      theme: '',
      material: '',
      list: [],
      generatedList: [],
      detail: {},
      status: 'off',
      current: ''
    }
  },
  
  async created () {
    try {
      let res = await axios.get('static/json/data.json');
      this.list = res.data;
    } catch(e) {
      console.error(e);
    }
  },
  
  computed: {
    iconMars: function() {
      return faMars;
    },
    
    iconVenus: function() {
      return faVenus;
    }
  },
  
  methods: {
    sort (list, key, val) {
      let tmp = list.filter(function (item) {
        if (item[key] === val) {
          return item;
        }
      });
      return tmp;
    },
    
    sortTheme (val) {
      this.theme = val;
      this.material = '';
      this.status = 'on';
      this.generatedList = this.sort(this.list, 'theme', val);
    },
    
    sortMaterial (val) {
      let tmp = this.sort(this.list, 'theme', this.theme);
      this.material = val;
      this.generatedList =  this.sort(tmp, 'material', val);
    },
    
    info (val) {
      this.detail = (this.sort(this.list, 'id', val))[0];
      this.current = val;
    }
    
  },
  
  components: {
    FontAwesomeIcon
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../assets/scss/placeholder.scss';

.Sort {
   @extend %fontFamily;
}
.off {
   display: none;
}

button {
  padding: 0 4px;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
  line-height: 1.1;
  @extend %fontFamily;
}
.theme > button {
  width: auto;
  height: 34px;
}
.material > a {
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  text-indent: -100%;
  
  &.wood {background-image: url(../../static/img/m_wood.png);}
  &.steel {background-image: url(../../static/img/m_steel.png);}
  &.cotton {background-image: url(../../static/img/m_cotton.png);}
  &.food {background-image: url(../../static/img/m_food.png);}
  &.paper {background-image: url(../../static/img/m_paper.png);}
}

.cute > .cute,
.natural > .natural,
.sporty > .sporty,
.cool > .cool,
.rustic > .rustic,
.wood > .wood,
.steel > .steel,
.cotton > .cotton,
.food > .food,
.paper > .paper {
  border-color: #000;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0 10px 0 20px;
  
  &::after {
    content: "";
    display: block;
    clear: both;
  }
}
li {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  list-style-type: none;
  line-height: 1;
  
  &:last-child {
    margin-right: 0;
  }
  
  & > span {
    display: flex;
    padding: 5px 6px 4px;
    flex-direction: column;
    justify-content: center;
    border-radius: 4px;
    border:1px solid #ccc;
    box-sizing: border-box;
    font-size: 10px;
    color: #fff;
    
    &.current {
      background-color: #fff !important;
      color: #000 !important;
    }
  }
  
  &.cute > span {
    background-color: $color_cute;
    border-color: $color_cute;
  }
  &.natural > span {
    background-color: $color_natural;
    border-color: $color_natural;
  }
  &.sporty > span {
    background-color: $color_sporty;
    border-color: $color_sporty;
  }
  &.cool > span {
    background-color: $color_cool;
    border-color: $color_cool;
  }
  &.rustic > span {
    background-color: $color_rustic;
    border-color: $color_rustic;
  }
}

.info {
  position: relative;
  padding: 10px 20px;
}

.detail {
  overflow: hidden;
  min-height: 70px;
  padding: 10px 10px 10px 90px;
  background-color: #f9f7e5;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 11px;
  text-align: left;
  color: #000;

  & > figure {
    position: absolute;
    left: 30px;
    top: 10px;
    overflow: hidden;
    margin: 0;
    border-radius: 4px;
    
    & > img {
      width: 70px;
    }
  }
  
  & > span {
    display: block;
    margin-bottom: 4px;
    padding: 2px 8px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 13px;
    
    & > i {
      margin-left: 4px;
      font-style: normal;
      font-size: 11px;
      color: #999;
    }
  }
  &.cute > span {
    color: $color_cute;
  }
  &.natural > span {
    color: $color_natural;
  }
  &.sporty > span {
    color: $color_sporty;
  }
  &.cool > span {
    color: $color_cool;
  }
  &.rustic > span {
    color: $color_rustic;
  }
  
  & > small {
    position: relative;
    display: inline-block;
    margin-top: 4px;
    margin: 0 0 2px 10px;
    font-size: 11px;
    
    &.f > .fa-mars,
    &.m > .fa-venus {
      display: none;
    }
  }
  
  & > .material {
    width: 16px;
    height: 16px;
    
    &::before {
      content: "※";
    }
  }
}

</style>