<template>
  <div class="Table">
    
    <div class="output">
      <dl class="list" v-for="item in list">
        <dt>{{item.name}}</dt>
        <dd class="great"><span v-for="great in item.great">{{great}}</span></dd>
        <dd class="good"><span v-for="good in item.good">{{good}}</span></dd>
      </dl>
    </div>
    
    <footer><router-link to="/">ポケ森</router-link></footer>
    
  </div>
</template>

<script>
import axios from 'axios';

const json = 'static/json/tabikaeru/list.json';

export default {
  name: 'Table',
  
  data () {
    return {
      list: []
    }
  },
  
  computed: {
    sorted: function() {
      let tmp = this.list;
      
      return tmp;
    },
    
  },
  
  async created () {
    try {
      let res = await axios.get(json);
      this.list = res.data;
    } catch(e) {
      console.error(e);
    }
  },
  
  methods: {
    setAll: function() {
      this.showAll = !this.showAll;
    }
    
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../assets/scss/placeholder.scss';

.Table {
  position: relative;
}
.output {
  padding: 0 20px;
}
.list {
  margin: 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  
  dt {
    padding-top: 20px;
  }
  dd {
    margin-top: 10px;
    font-size: 12px;
    
    &::before {
      display: block;
      margin-bottom: 2px;
      padding-left: 4px;
      background-color: #eee;
    }
    
    &.great {
      &::before {
        content: "喜ぶ";
      }
    }
    &.good {
      &::before {
        content: "嬉しい";
      }
    }
    
    span {
      display: inline-block;
      &::after {
        content: "｜";
      }
    }
  }
}

#tweet {
  margin: 30px 0 0;
  border-top: 1px solid rgba(15,70,100,.12);
  
  & > a {
    color: #ccc;
    font-size: 10px;
    line-height: 1.8;
  }
}

footer {
  padding: 20px;
  font-size: 14px;
  text-align: right;
}

</style>
