<template>
  <div class="Test">

    <div class="menu" @touchend="testTouchend()">
      <ul class="menu__base">
        <li @click="testClick(1)">Menu1</li>
        <li @click="testClick(2)">Menu2</li>
        <li @click="testClick(3)">Menu3</li>
        <li @click="testClick(4)">Menu4</li>
        <li @click="testClick(5)">Menu5</li>
        <li @click="testClick(6)">Menu6</li>
      </ul>
    </div>

  </div>
</template>

<script>
import $ from 'jquery';
import toggleButton from './parts/button';


export default {
  name: 'Test',

  components: {
    toggleButton
  },

  computed: {
  },

  methods: {
    testClick: (text) => {
      console.log(text);
    },

    testTouchend: () => {
      let $menu = $('.menu__base');

      let pos = $menu.offset().left - 20;
      let num = Math.trunc(pos/100);
      let fitPos = num * 100 - 80;

      $menu.offset({left: fitPos});
      console.log(pos, fitPos);

    }

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../assets/scss/placeholder.scss';

.Test {
  margin-top: 24px;
  overflow: hidden;
}

$width: 100px;
$height: 24px;
$leftMargin: 10px;
$topMargin: 30px;
$backColor: rgba(150, 150, 150, .6);

.menu {
  position: relative;
  height: $height;
  overflow-x: auto;

  &::before {
    content: "";
    position: fixed;
    display: block;
    width: $width;
    height: $height;
    left: 0;
    top: 20px;
    border-width: 4px 400px 4px 20px;
    border-style: solid;
    border-color: $backColor;
  }
  &::after {
    content: "";
    position: fixed;
    display: block;
    width: $width;
    height: $height;
    left: 20px;
    top: 24px;
    border-width: 1px;
    border-style: solid;
    border-color: #999 #ccc #ccc #999;
    box-sizing: border-box;
  }
}

.menu__base {
  display: flex;
  width: calc(600px + 375px - 100px - 20px);
  padding: 0;
  margin: 0;
  transition: all linear .1s;
}

li {
  width: $width;

  list-style-type: none;
  line-height: $height;
  font-size: 13px;
  text-align: center;
}


</style>
