<template>
  <button :class="status" @click="toggle">{{label}}</button>
</template>

<script>
export default {
  name: 'toggle-button',
  props: {
    label: {
      type: String,
      default: ''
    },
    current: {
      type: String,
      default: ''
    },
    value: {
      type: String,
      default: ''
    }
  },
  
  data () {
    return {
      isActive: false
    }
  },
  
  computed: {
    status: function() {
      if (this.current == '' || this.current != this.value) {
        this.isActive = false;
      }
      return this.isActive ? 'on' : 'off';
    }
  },
  
  methods: {
    toggle: function() {
      this.isActive = !this.isActive;
      this.$emit('child-event', this.value);
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../../assets/scss/placeholder.scss';

button {
  margin: 0;
  padding: 0 0 0 15px;
  border-width: 0;
  background-color: transparent;
  @extend %fontFamily;
  
  &.on {
    font-weight: bold;
  }
}

</style>